<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>GvLab - Traffic Map</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button>Function 1</button>
            <button>Function 2</button>
            <button>Function 3</button>
            <button>Function 4</button>
            <button>Function 5</button>
        </ion-list>
    </ion-content>
</ion-menu>

<!-- <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav> -->
